/*Background Colors for works*/
$page-bg-color: #FFFFFF;
$first-bg-color: #2F303A;
$second-bg-color: #F5F4FA;

/*Text Colors for works*/
$main-text-color: #212121;
$second-text-color: #FFFFFF;
$description-text-color: #757575;
$dark-text: #000000;

/*Text Colors for logo*/
$logo-light-theme: #000000;
$logo-dark-theme: #FFFFFF;

/*Text Colors for button*/
$button-text: #FFFFFF;
$button-active: #188CE8;

/*Text Colors for hover and logo*/
$accent: #2196F3;
$header-border-bottom: #ECECEC;
$footer-text-color: rgba(255, 255, 255, 0.6);

/*Icons Colors*/
$unactive-icon: #AFB1B8;
$active-icon: #FFFFFF;
$active-bg-icon: #2196F3;