@import "../utils/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $page-bg-color;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $main-text-color;
    letter-spacing: 0.03em;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: $main-text-color;
}

h1, h2, h3, h4, h5, h6, p, ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

img, button, a {
    display: block;
    background: none;
    border: none;
}

address {
    font-style: normal;
}